@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    /* background-color: #a9d5fd; */
    background-color: #0B1940;
    font-family: 'Lato', sans-serif;
    color: white;
}

.header {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: -4em;
}

.subhead {
    color: blue;
}

.hero_img {
    width: 39em;
    height: 39em;
}

.pre-bold-header {
    font-size: 3.3em;
    margin: 0;
}

.post-bold-header {
    font-weight: 800;
    font-size: 3.3em;
    margin: 0;
}

.left-side-hero {
    margin: auto;
    padding-left: 3em;
    max-width: 17em;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-right: 5em;
    margin-left: 3em;
}


.transition-p > p {
    max-width: 30em;
    font-size: 1.5em;
    line-height: 142.2%;
    margin: 3em auto 7em auto;
    text-align: center;
}

.transition-hr {
    width: 32em;
    height: 3px;
    border-color: white;
}

.transition-mini-hr {
    width: 6em;
    height: 3px;
    border-color: white;
}

.section {
    text-align: center;
    padding: 5em;
}


.section-header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1.0em;
}

.section-info {
    font-size: 1.2em;
    line-height: 140%;
    margin-bottom: 3em;
}



.viz-1 {
    background-color: white;
    border-radius: 16px;
    border: 3px solid #cfcfcf; 
    padding: 2em;
    margin-bottom: 3em;
    color: black;
}


.viz-2 {
    background-color: white;
    border-radius: 16px;
    border: 3px solid #cfcfcf; 
    padding: 2em;
    margin-bottom: 3em;
    color: black;
}


.viz-3 {
    background-color: white;
    border-radius: 16px;
    border: 3px solid #cfcfcf; 
    padding: 2em;
    margin-bottom: 3em;
    color: black;
}